name: Trigger auto deployment for ca-fiap-postech

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/ca-fiap-postech-AutoDeployTrigger-eedb8044-dc60-486e-be27-72ba1673a0c8.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CAFIAPPOSTECH_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CAFIAPPOSTECH_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CAFIAPPOSTECH_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: registryfiapfred.azurecr.io
          registryUsername: ${{ secrets.CAFIAPPOSTECH_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CAFIAPPOSTECH_REGISTRY_PASSWORD }}
          containerAppName: ca-fiap-postech
          resourceGroup: rg-fiap-postech
          imageToBuild: registryfiapfred.azurecr.io/ca-fiap-postech:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


