name: Trigger auto deployment for ca-fiap-postech

on:
  push:
    branches:
      [ main ]
    paths:
      - '**'
      - '.github/workflows/ca-fiap-postech-AutoDeployTrigger-eedb8044-dc60-486e-be27-72ba1673a0c8.yml'

  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CAFIAPPOSTECH_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CAFIAPPOSTECH_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CAFIAPPOSTECH_AZURE_SUBSCRIPTION_ID }}

      - name: Build and deploy to Azure Container Apps
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          registryUrl: registryfiapfred.azurecr.io
          registryUsername: ${{ secrets.CAFIAPPOSTECH_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CAFIAPPOSTECH_REGISTRY_PASSWORD }}
          containerAppName: ca-fiap-postech
          resourceGroup: rg-fiap-postech
          imageToBuild: registryfiapfred.azurecr.io/ca-fiap-postech:${{ github.sha }}
          environmentVariables: |
            EVENTGRID_TOPIC_KEY=${{ secrets.EVENTGRID_TOPIC_KEY }}
